body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
header {
    background: #005A9C;
    color: white;
    padding: 1em 0;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #005A9C;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: #005A9C;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin: 0 15px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.skills{
    padding: 20px;
}
.employment{
    padding: 20px;
}
.about {
    padding: 20px;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}
